#version: "3.9" (Commented because this attrobute gave an obselete warning)

services:
  postgres:
    image: postgres:15
    env_file:
      - backend/.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    volumes:
      - kycc_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - backend/.env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  dagster:
    build: ./backend
    command: dagster-webserver -h 0.0.0.0 -p 3000 --workspace /workspace/dagster_home/workspace.yaml
    ports:
      - "3000:3000"  # Dagster UI
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://kycc_user:kycc_pass@postgres:5432/kycc_db
      - DAGSTER_HOME=/workspace/dagster_instance
      - PYTHONPATH=/workspace
    volumes:
      - ./backend:/workspace

volumes:
  kycc_pgdata: