/* Sidebar width */
.sidebar {
  width: 230px;
}

/* Sidebar links */
.sidebar-link {
  border-radius: 8px;
  padding: 10px 14px !important;
  transition: all 0.2s ease;
}

/* Hover effect */
.sidebar-link:hover {
  background-color: #495057;
}

/* Active route highlight */
.sidebar-link.active {
  background-color: #0d6efd;
  font-weight: 500;
}


